<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>FileShare</string>
    <key>CFBundleExecutable</key>
    <string>FileShareTweakSettings</string>
    <key>CFBundleIdentifier</key>
    <string>com.ps.filesharetweak.settings</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.7</string>
    <key>CFBundleVersion</key>
    <string>1.0.7</string>
    <key>CFBundleName</key>
    <string>FileShare</string>
    <key>NSPrincipalClass</key>
    <string>FSTSettingsController</string>
    <key>PSControllerClasses</key>
    <array>
        <string>PSListController</string>
    </array>
</dict>
</plist>
